
.comments__subtitle {
max-width: 640px;
margin: 48px auto;

font-family: 'Inter', Arial, sans-serif;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 35px;
text-align: center;
align-items: center;
color: #FFFFFF;
}


@media screen and (min-width: 1024px) and (max-width: 1280px) {
    .comments__subtitle {
     font-size: 24px;
        margin-bottom: 71px;
    
    

    }
}

@media screen and (max-width: 1023px) {
    .comments__subtitle {
    font-size: 24px;
    
    }
}

@media screen and (max-width: 768px) {
    .comments__subtitle {
    margin: 24px auto 0 auto;
   
    font-size: 24px;
    line-height: 35px;
   
 
    }
}

@media screen and (max-width: 375px) {
    .comments__subtitle {
    margin: 16px auto 0 auto;
   
    font-size: 16px;
    line-height: 23px;
 
  
    }
}

@media screen and (max-width: 375px) {
    .comments__subtitle {
    margin: 16px auto 0 auto;


 
  
    }
}
