.video__title {
max-width: 800px;
margin: 0px auto;
font-family: 'Inter', Arial, sans-serif;
font-style: normal;
font-weight: 900;
font-size: 72px;
line-height: 78px;
text-align: center;
color: #FFFFFF;
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
    .video__title {
    font-size: 72px;
    max-width: 685.75px;
       
    }
}
@media screen and (max-width: 1023px) {
    .video__title {
        font-size: 72px;
        max-width: 650px;
    
        
    }
}
@media screen and (max-width: 800px) {
    .video__title {
        line-height: 46px;
        font-size: 72px;
        max-width: 390px;
    
        
    }
}
@media screen and (max-width: 700px) {
    .video__title {
        font-size: 42px;
        line-height: 46px;
        max-width: 600px;
            
    }
}
@media screen and (max-width: 540px) {
    .video__title {
        font-size: 42px;
        max-width: 600px;
            
    }
}
@media screen and (max-width: 425px) {
    .video__title {
        font-size: 42px;
        max-width: 600px;
   
    }
}

@media screen and (max-width: 768px) {
    .video__title {
        font-size: 42px;
        max-width: 400px;
        
    }
}



@media screen and (max-width: 375px) {
    .video__title {
    max-width: 304.85px;
    font-size: 32px;
    line-height: 35px;
 
   
    }
}

@media screen and (max-width: 320px) {
    .video__title {
    max-width: 320px;
    font-size: 32px;
    line-height: 35px;

    }
}
