
.place__url-heading {
/*width: 484px;*/
margin: 0px 0px;
font-family: 'Inter', Arial, sans-serif;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 20px;
letter-spacing: 0.2em;
text-transform: uppercase;
color: #AAAAAA;
}
