.page {
    min-width: 1100px;
    max-width: 1600px;
    margin: 0 auto;
    font-family: 'Inter', Arial, sans-serif;
    background-color:white;
}

@font-face {
        font-family: 'Inter';
        src: url(/blocks/fonts/Inter/Inter-Black.woff2);
    }

.header {
    display: flex;
    flex-direction: wrap;
    flex-wrap: nowrap;
    width: 1184px;
    left: 48px;
    top: 30px;
    background: black;
    }


@import '../blocks/lead/__title/lead__title.css'; 
@import '../blocks/lead/__subtitle/lead__subtitle.css'; 
@import '../blocks/lead/__image/lead__image.css'; 
@import '../blocks/lead/__caption/lead__caption.css'; 

.lead {
    display: flex;
    align-items: center;
    margin-bottom: 80px;
    font-family: Inter;
    flex-direction: column;
    width: 985px;
    left: 147px;
    top: 130px;
   
}

@import '../blocks/intro/__title/__title.css';
@import '../blocks/intro/__subtitle/__subtitle.css';
@import '../blocks/intro/__subtitle/__subtitle.css';
@import '../blocks/intro/__content-row/_text1.css';
@import '../blocks/intro/__content-row/_text2.css';
@import '../blocks/intro/__text/__text.css';

.intro {
width: 984px;
left: 148px;
top: 1160px;
border: 2px solid red;
}

.intro__content-row {
width: 984px;
left: 148px;
top: 1315px;
}

.photo-grid {

width: 284px;
left: 48px;
top: 1689px;
background: url ('/images/train.jpg');
}

