@import url(../__text/intro__/intro__author.css);

.__text {
    display: flex;
    flex-direction: row; 
    width: 283px;
    margin-right: 148px;
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 16px;
    
    color: #FFFFFF;
}